* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FAFAFA;
  font-family: 微软雅黑;
  text-align: center;
}
#wrap {
  width: 30%;
  min-width: 300px;
  margin: auto;
}
.fail{
  color:#f9ad2c;
}
.click{ 
  color:#1A1B1B;
  background: #FAFAFA;
}
.click:hover{
  color:#f9ad2c;
}